<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yackeen.ta3allam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.FirstLogin"
            android:label="@string/title_activity_first_login" />
        <activity
            android:name=".ui.activity.Home"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.activity.PasswordResetActivity" />
        <activity
            android:name=".ui.activity.BooksActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service android:name=".services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.activity.BookDetailActivity" />
        <activity android:name=".ui.activity.ForumsShowActivity" />
        <activity android:name=".ui.activity.ForumComentsActivity" />
        <activity android:name=".ui.activity.MessagesListActivity"></activity>
    </application>

</manifest>